---
import Layout from '../layouts/Layout.astro';
import { Img } from 'astro-imagetools/components';
import Aside from '../components/Aside.astro';
import { newtClient } from '../lib/newt';
import type { Article } from '../lib/newt';
import '../styles/css/style.css';

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ["title", "slug", "body", "coverImage", "category", "date"],
  },
})

---

<Layout title="TECH BLOG">
	<main>
		<section>
			<div class="container">
				<div class="blog-area" id="blog-area">
					<div class="blog-content">
					{
						articles.map((article, index) => {
								return (
									<a href={`/articles/${article.slug}`} data-aos-delay={index * 50} data-category={article.category.name} class="blog-item">
										<div class="blog-img">
											<Img src={article.coverImage ? article.coverImage.src : ""} alt={article.title} width="400" height="300" loading="eager" />
										</div>
										<div class="blog-text">
											<div class="blog-line1">
												<div class="category">{article.category.name}</div>
												<div class="date"><span class="material-icons schedule-icon">schedule</span>{ new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format(new Date(article.date))}</div>
											</div>
											<h2>{article.title}</h2>
										</div>
									</a>
								)
						})
					}
					</div>
				</div>			
			</div>
		</section>
	</main>
	<Aside />
</Layout>